<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:form>
	<div>
		<h:outputLabel value="Título" />
		<h:inputText value="#{adminLivrosBean.livro.titulo}" />
	</div>
	<div>
		<h:outputLabel value="Descrição" />
		<h:inputTextarea value="#{adminLivrosBean.livro.descricao}" />
	</div>
	<div>
		<h:outputLabel value="Número de Páginas" />
		<h:inputText value="#{adminLivrosBean.livro.numeroPaginas}" />
	</div>
	<div>
		<h:outputLabel value="Preço" />
		<h:inputText value="#{adminLivrosBean.livro.preco}" />
	</div>
	<h:commandButton action="#{adminLivrosBean.salvar()}" value="Cadastrar" />
</h:form>

</html>